@use '@styles/vars.scss' as *;
.animationTitle{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
    @media(min-width:$screen-lg){
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    &__first{
        display: flex;
        justify-content: start;
    }
    &__second{
        display: flex;
        justify-content: end;
         @media(min-width:$screen-lg){
            
         }
    }
    &__second-imgCont{
        position: relative;
        display: flex;
        align-items: center;
    }
    &__second-img{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 1;
        @media(min-width:$screen-lg){
            width: 64px;
            height: 64px;
         }
    }
    &__second-img--first{       
        z-index: 2;
         @media(min-width:$screen-lg){
            width: 61px;
            height: 61px;
         }
    }
    &__second-img--second{
        z-index: 1;
         margin-left: -16px;
         @media(min-width:$screen-lg){
            margin-left: -28px;
         }
    }
    &__second-text{
        color: $color-main;
    }
    &__changings{
        display: none;
        @media(min-width:$screen-lg){
            display: grid;
            grid-column: 2 span;
            justify-content: center;
        }
    }
    &__changingsSpan{
        & path{
            // box-shadow: 0 0 0 1px $color-black;
            stroke-width: 1px;
        }
    }
    &__changingsSpan--second{
        display: none;
    }
    &__changings--mobile{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4px;       
        @media(min-width:$screen-lg){
            display: none;
        } 
        &>span:nth-child(2n){
            display: flex;
            justify-content: end;
        }
        &>span:nth-child(2n-1){
            display: flex;
            justify-content: start;
        }
    }
    
}
