@use '@styles/vars.scss' as *;
.container{
    max-width:100%;
    margin: auto;
    padding-left: $padding;
    width: 100%;
    padding-right: $padding;
    position: relative;    
    @media(min-width:$screen-lg){
        max-width:100%;
        padding-left: 0;
        padding-right: 0;
    }
    @media(min-width:$screen-xl){
        max-width:$container-width;
    }
    @media(min-width:$screen-xxl ){
        max-width:$container-width;
    }      
    &--nogap{
        padding-left: 0;
        padding-right: 0;
    }
   
}