@use '@styles/vars' as *;
@use '@styles/titlemixins' as *;
.projects{
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-top: 44px;
    position: relative;
    z-index: 2;
    margin-top: -44px;
    @media(min-width: $screen-lg){
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
        padding-top: 52px;
        margin-top: -52px;
    }
    &__h2{
        @include T3;
        margin: 0;
        padding-left: $padding;
        padding-right: $padding;
        @media(min-width: $screen-lg){
            @include H4;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__wrapper{
        margin-top: 32px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 20px;
        @media(min-width: $screen-lg){            
            column-gap: 16px;
            row-gap:24px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item{
        width: 100%;
        @media(min-width: $screen-lg){
            width: auto;
        }
    }
    &__item--big{
        @media(min-width: $screen-lg){
            width: auto;
        }
    }
    &__item--mid{
        @media(min-width: $screen-lg){
            width: auto;
        }
    }
    &__item--small{
    @media(min-width: $screen-lg){
            grid-column: 2 span;
        }
    }
    &__itemCont{
        position: relative;
        
        @media(min-width: $screen-lg){
            min-height: 496px;
        }
    }
    &__img{
        width: 100%;
        max-width: 100%;
        border-radius: 16px;
        @media(min-width: $screen-lg){
            border-radius: 20px;
        }
    }
    &__img--desktop{
        display: none;
        @media(min-width: $screen-lg){
            display: block;
        }
    }
    &__img--mobile{
        display: block;
        @media(min-width: $screen-lg){
            display: none;
        }
    }
    &__itemLink{
        position: absolute;
        display: block;
        width: auto;
        bottom: 16px;
        right: 16px;
    }
    &__itemTitle{
        @include btn1;
        margin-top: 8px;
        text-transform: uppercase;
        padding-left: $padding;
        padding-right: $padding;
        @media(min-width: $screen-lg){
            @include T4;
            margin-top: 12px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__desc{
        text-transform: uppercase;
        @include B6;
        margin-top: 4px;
        color: $color-grey;
        padding-left: $padding;
        padding-right: $padding;
        @media(min-width: $screen-lg){
           @include B4; 
           padding-left: 0;
           padding-right: 0;
        }
    }
}
