$screen-xs : 430px;
$screen-sm : 576px;
$screen-md : 768px;
$screen-lg : 992px;
$screen-xl : 1200px;
$container-width : 1176px;
$screen-xxl: 1440px;
$padding : 16px;
$color-main: #8756FF;
$color-main-pink: #EFDBFF;
$foreground-color:red;
$color-main-hover: #FFEC34;
$color-main-active: #FFDF3D;
$color-black:#242424;
$color-black-hover:#313131;
$color-black-active:#4C4C4C;
$color-main-link: #4D00FF;
$color-blue: #C4EAFA;
$color-main-link-hover: #8756FF;
$color-main-link-active: #8756FF;
$color-main-link-disable: #CDBFFF;
$color-main-btn:#ffffff;
$color-main-btn-hover:#8756FF;
$color-main-btn-active:#EFDBFF;
$color-main-link-disable: #ffffff;
$color-white:#ffffff;
$color-green-10:rgba(44, 206, 199, 1);
$color-grey:#474747;
$font-family: 'Golos';
$font-header: 'Golos';
$transition:.4s;
$thumbwidth:10px;