
@use "@styles/vars.scss" ; //all
@use '@styles/mixins.scss'; //all
@use '@styles/main.scss'; //all
@use '@styles/fonts.scss'; //all
@use '@styles/container.scss'; //all
@use '@styles/btn.scss'; //all
@use '@styles/menu.scss'; //all
@use '@styles/logo.scss'; //all
@use '@styles/header.scss'; //all
@use '@styles/animationTitle.scss'; //main
@use '@styles/projects.scss'; //main
@use '@styles/about.scss'; //main
@use '@styles/works.scss'; //main
@use '@styles/offers.scss'; //main

